<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
      @view-transition {
        navigation: auto;
      }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/object.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/acquisition.css">
    <title>Qatar Museums</title>
</head>
<body>
