<header>
    <nav class="navigation"> 

        <div class="menu-logo">
            <a href="/">
                <picture>
                    <source type="image/avif" srcset="/assets/qatar-logo.avif">
                    <source type="image/webp" srcset="/assets/qatar-logo.webp">
                    <img src="/assets/qatar-logo.jpg" alt="logo of Qatar Museum with a circle, squares and a triangle">
                </picture>

            </a>
        </div>

        <ul class="nav-list">
        

            <li class="translated-menu">
                <span lang="ar" class="">قـصــصـنـا</span>
                 <a class="link-menu" class="link-menu" href="https://qm.org.qa/en/stories/">Stories</a>
            </li>

            <li class="translated-menu">
                <span lang="ar" class="">الـفـعـالــيــات</span>
                 <a class="link-menu" href="https://qm.org.qa/en/calendar/">What's on</a>
            </li>

            <li class="translated-menu">
                <span lang="ar" class="">الـمــقــتــنــيــات</span>
                 <a class="link-menu" href="https://qm.org.qa/en/calendar/">Collection</a>
            </li>


            <li class="translated-menu">
                <span lang="ar" class="">زيــارة</span>
                 <a class="link-menu" href="https://qm.org.qa/en/visit/">Visit</a>
            </li>

            <li class="menu">
                 <a class="link-ticket" href="https://qm.org.qa/tickets/select-tickets/">Tickets</a>
            </li>

            <li class="menu">
                <img src="/assets/plaats.svg" alt="icon of a picking place"> 
                 <a class="link-menu" href="https://qm.org.qa/en/visit/">Venues</a>
            </li>

            <li class="menu">
                 <a class="link-menu" href="/ar">الـعــربـيـة</a>
            </li>
            

            <li class="menu-hamburger">

                <button class="menu-button">    
                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="1.25" x2="10" y2="1.25" stroke="black" stroke-width="1.5"/>
                    <line y1="4.25" x2="10" y2="4.25" stroke="black" stroke-width="1.5"/>
                    </svg> Menu
                </button>
            </li>
        </ul>
    </nav>

</header>
