<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
   {% comment %} <style>@view-transition { /* Schakelt view-overgangen in voor navigatie binnen hetzelfde domein. bron: https://developer.mozilla.org/en-US/docs/Web/CSS/@view-transition */
        navigation: auto;
    }

    @keyframes move-out {
        from {
          transform: translateY(0%);
        }
      
        to {
          transform: translateY(-100%); /* Beweegt omhoog uit het zicht */
        }
      }
      
      @keyframes move-in { /* Definieert de 'move-in' animatie voor het nieuwe  element */
        from {
          transform: translateY(100%);
        }
      
        to {
          transform: translateY(0%); /* Beweeg naar de oorspronkelijke positie */
        }
      }
      
      ::view-transition-old(root) {
        animation: 0.6s ease-in both move-out; /* Animeren over 0.6 seconden met een 'ease-in' timingfunctie */
      }
      
      ::view-transition-new(root) {
        animation: 0.6s ease-in both move-in;
      }
    </style>  {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/object.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/acquisition.css">
    <title>Qatar Museums</title>
</head>
<body>
