{% render 'partials/head.liquid', title: 'Proposal for Object Acquisition' %}

{% render 'partials/header.liquid' %}


<main>

<section class="title">
    <h1 class="title-acquisition">Proposal for object acquisition</h1>
    
    <p class="paragraph-acquisition">Your proposal for object acquisition has been successfully sent.</p>

    <a class="return-homepage" href="/">Homepage</a>

</section>
