{% render 'partials/head.liquid', title: 'Proposal for Object Acquisition' %}

{% render 'partials/headerar.liquid' %}


<main>

<section class="title">
    <h1 class="title-acquisition">اقتراح لشراء الكائن</h1>
    
    <p class="paragraph-acquisition">تم إرسال اقتراحك لشراء الكائن بنجاح.</p>

    <a class="return-homepage" href="/">الصفحة الرئيسية</a>
    
</section>